@use './abstract/variables' as var;
@use './abstract/mixins' as mixin;

.loginForm {
  box-shadow: var.$boxShadow;
  padding-top: 3px;
  width: 30%;
  max-width: 400px;
  min-width: 400px;
  margin: 40px auto;

  @media (max-width: 760px) {
    width: 95%;
  }

  .icon,
  .title {
    color: var.$primary;
    margin: 0 auto;
  }
  .icon {
    font-size: 36px;
  }
  .title {
    font-size: 17px;
  }

  .loginButton {
    @include mixin.btn(var.$primary);

    .circularProgress {
      color: #038abb;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
    }
  }
}
