@use './abstract/variables' as var;
@use './abstract/mixins' as mixin;

.profileContainer {
  @media (max-width: 768px) {
    margin-top: 20px;
  }

  .title {
    font-size: 20px;
  }
  .persianTitle {
    margin-right: 0;
    margin-left: auto;
    font-size: 20px;
  }

  .form {
    box-shadow: var.$boxShadow;
    max-width: 700px;
    margin: 10px 0;
    width: 99%;

    @media (max-width: 768px) {
      width: 100%;
    }

    .updateButton {
      @include mixin.btn(var.$primary);
    }
  }
}
